* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    color: white;
    height: 100vh;
    line-height: 1.6;
    overflow: hidden;
  }
  
  .container {
    width: 100%;
    height: 100%;

    /* Adding CSS Smooth Scroll effect */
    overflow-y: scroll; 
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }
  
  
  
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
   
    /* Scroll Snap means when the effect will start */
    scroll-snap-align: start;
    
  }
  
  section h1 {
    font-size: 4rem;
  }
  
  section#home {
    
    background-color: rgb(26, 7, 112);
  }
  
  section#about {
    
    background-color: brown;
  }
  
  section#service {
    
    background-color: rgb(8, 122, 52);
  }
  section#vision {
    
    background-color: rgb(141, 143, 6);
  }
  
  section#contact {
    
    background-color: rgb(99, 7, 26);
  }


  .box {

    
    display: grid;
    grid-template-columns: 500px 400px;
    grid-template-rows: 100px 100px;
    align-items: center;
    justify-items: center;
    column-gap: 2rem;
    border-radius: 0.1rem;
    padding: 6rem  6rem 0 0;
    box-shadow: 0.1rem 0.1rem 0.5rem #eed994;
}

.box .title {
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: var(--Very-Dark-Cyan);
    margin-bottom: 1rem;
}

.box .description {
    font-size: 1rem;
    font-family: cursive;
    font-weight: 400;
    color: var(--Grayish-Blue);
}
